@import "@blueprintjs/table/lib/css/table.css";

#root {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background-color: slategrey;
}

h1 {
  text-align: center;
  position: -webkit-sticky;
  top: 0;
  margin-top:60px;
  margin-bottom: 30px;
}

table, th, td {
  width: 100%;
  border: 1px solid;
}

th {
  background-color: royalblue;
  color: rgb(116, 10, 10);
}

tr:hover {background-color: rgb(189, 180, 176);}

.card {
  padding: 0.5rem;
  margin-block: 1rem;
  margin-inline: 1rem;
  flex:auto;
  width: max-content;
  background-color: bisque;
}

.blue {
  padding: 0.5rem;
  background-color:RoyalBlue;
}

.green{
  padding: 0.5rem;
  background-color: aquamarine;
}

.bath{
  padding: 0.5rem;
  background-color: LightPink;
}

.cancel{
  padding: 0.5rem;
  /*background-color: azure;*/
}

.footer{
  width: 100%;
  position:fixed;
  bottom: 0px;
  right: 0px;
  z-index: 10000;
  background-color: black;
  color: azure;
  text-align: end;
  
}

.page {
  padding: 5px;
  background-color: #cae8ca;
}

